@media screen and (min-width:451px) and (max-width:767px) {

    .games {
        display: grid;
        grid-template-columns: 65px 1fr;
    }

    .navbar-brand {
        padding-left: 17px;
        gap: 17px;
    }

    .nav-link {
        padding: 0;
        margin: 0;
        flex-direction: column;
        padding-block: 10px;
        height: 50px;
        overflow: hidden;
        transition: .3s ease color;
    }

    .nav-link-name {
        writing-mode: vertical-lr;
        transform: translateY(10px);
    }

    .navbar-nav .nav-link.active {
        background-color: #29fd53;
        color: #fff;
        height: 100%;
        transition: .5s ease height;
    }

    .nav-link.active .nav-link-name {
        transform: translateY(0);
    }
}

@media screen and (min-width: 768px) {
    .games {
        display: grid;
        grid-template-columns: 225px 1fr;
    }

    .wrapper {
        width: calc(var(--nav-width) + 156px);
        padding-right: 1rem
    }

    aside {
        width: calc(var(--nav-width) + 156px);
        padding: 1rem 1rem 0 0
    }

    .active::before {
        content: '';
        position: absolute;
        left: 0;
        width: 5px;
        height: 32px;
        background-color: #29fd53
    }
}

@media screen and (max-width:450px) {
    .games {
        padding-bottom: 100px;
    }

    .wrapper {
        position: fixed;
        z-index: 1;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-color: #222;
        box-shadow: 0 0 10px #29fd53;
    }

    aside {
        position: fixed;
        z-index: 2;
        bottom: 10px;
        border-radius: 10px;
        width: 330px;
        height: 70px;
        left: 50%;
        transform: translateX(-50%);
        padding: 0;
    }

    nav {
        overflow: visible;
        height: 100%;
    }

    .navbar-brand {
        display: none;
    }

    .navbar-nav {
        position: relative;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .nav-link {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 50px;
        height: 50px;
        margin: 0;
        padding: 0;
        border-radius: 50%;
        transition: .3s ease transform;
    }

    .nav-link.active .nav-link-name {
        opacity: 1;
    }

    .nav-link-name {
        opacity: 0;
        position: absolute;
        font-size: 10px;
        transition: .3s ease;
        text-wrap: nowrap;
    }

    .nav-link-icon {
        transition: .3s ease;
    }

    .nav-link.active .nav-link-icon {
        transform: translateY(-35px);
    }

    .nav-link::before {
        display: none;
    }

    .indicator {
        display: block;

    }

    .indicator::before,
    .indicator::after {
        content: "";
        position: absolute;
        top: 50%;
        width: 20px;
        height: 20px;
        background-color: transparent;
        box-shadow: 0px -10px 0 #222;
    }

    .indicator::before {
        left: -55%;
        border-top-right-radius: 20px;
    }

    .indicator::after {
        right: -55%;
        border-top-left-radius: 20px;
    }
}

@media screen and (max-width:375px) {

    aside {
        width: 250px;
    }

    .nav-link {
        width: 40px;
        height: 40px;
        font-size: 12px;
    }

    .nav-link-name {
        font-size: 8px;
    }

    .indicator {
        --left: 0
    }
}

